{
  "info": {
    "title": "API for calling extra tools",
    "version": "0.1.0",
    "description": "API for calling tools that are query_table_based_on_db and query_internet"
  },
  "paths": {
    "/": {
      "get": {
        "summary": "Root",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "operationId": "root__get"
      }
    },
    "/api/v1/tools/query_table": {
      "get": {
        "tags": ["tools"],
        "summary": "Query Table Data based on the input of the user",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "db_name",
            "schema": {
              "type": "string",
              "title": "Db Name",
              "description": "based on the input of the user can be one of the following non_conformite,actions_correctives,responsables_causes you need to choose based on that "
            },
            "required": true
          },
          {
            "in": "query",
            "name": "input",
            "schema": {
              "type": "string",
              "title": "Input"
            },
            "required": true
          }
        ],
        "description": "Query the specified database for information.",
        "operationId": "query_table_based_on_db_api_v1_tools_query_table_get"
      }
    },
    "/api/v1/tools/query_internet": {
      "get": {
        "tags": ["tools"],
        "summary": "Query Internet",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "input",
            "schema": {
              "type": "string",
              "title": "Input"
            },
            "required": true
          }
        ],
        "description": "Perform a web search based on user input.",
        "operationId": "query_internet_api_v1_tools_query_internet_get"
      }
    }
  },
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://zs6jdg7edgoae2bood53swy4ai0hyhnx.lambda-url.eu-west-3.on.aws"
    }
  ],
  "components": {
    "schemas": {
      "ValidationError": {
        "type": "object",
        "title": "ValidationError",
        "required": ["loc", "msg", "type"],
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        }
      },
      "HTTPValidationError": {
        "type": "object",
        "title": "HTTPValidationError",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "title": "Detail"
          }
        }
      }
    }
  }
}
